.ContestPreview{
    margin: 1cm;
    border: 1px solid #ccc;
    
    .category-name{
        border-bottom: 1px solid #ccc;
        padding: 0.25cm 0.5cm;
        font-weight: bold;
        background-color: #eee;
    }

    .contest-name{
        padding: 0.5cm;
    }
}